.main-container {
    margin-left: 80px; /* Adjust margin to accommodate the width of the navbar */
    margin-top: 80px; /* Adjust margin to accommodate the height of the header */
    padding: 20px; /* Adjust padding as needed */
}